@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #6B7280; /* Muted blue-grey */
  --secondary: #7692bc; /* Darker blue-grey */
  --accent: #9CA3AF; /* Light blue-grey */
  --neutral: #3D4451;
  --base-100: #f5f5f5;
  --text-color: #03495179;
  --info: #60A5FA; /* Soft blue */
  --success: #34D399; /* Muted green */
  --warning: #FBBF24; /* Soft yellow */
  --error: #F87171; /* Soft red */

  --primary: #5b3f8e;
  --secondary: #84ceeb;
  --accent: #5ab9ea;
  --neutral: #c1c8e4;
  --base-100: #8860d0;
  --base-100-light: #9278c2;
  --base-100-darker: #795fa8;
  --base-100-very-light: #dacfed99;
  --text-color: #03495179;
  --info: #60A5FA; /* Soft blue */
  --success: #34D399; /* Muted green */
  --warning: #FBBF24; /* Soft yellow */
  --error: #F87171; /* Soft red */
}

body {
  font-family: Inter, "Segoe UI", "Helvetica Neue", sans-serif;
  font-family: 'Barlow', sans-serif;
  color: #034951;
  color: #4e6381;
  color: var(--base-100-light);
  background-color: #bf6262 !important;
  background-color: var(--base-100-very-light) !important;
  font-weight: 400;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-gentium {
  font-family: 'Gentium Book Plus', serif;
}
/* Custom styles */
/* .shadow-comic {
  box-shadow: 5px 5px 0px #000;
}

.shadow-comic-hover {
  box-shadow: 5px 5px 0px #ff5252;
} */

.nav-menu-main-button {
  font-family: serif;
}

.nav-menu-button, .nav-menu-main-button {
  position: relative;
  transition: color 0.3s ease, transform 0.3s ease; 
}

.nav-menu-button:hover, .nav-menu-main-button:hover {
  background-color: transparent;
  color: var(--base-100-darker);
  transform: scale(1.02);
}


.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.9px;
  font-family: serif;
  background-color: var(--base-100-light);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: var(--base-100-light);
  border: 2px solid var(--base-100-light);
  box-shadow: 5px 5px 0px var(--base-100-light);
}

.comic-button:active {
  background-color: var(--base-100-light);
  box-shadow: none;
  transform: translateY(4px);
}

.short-story-card {
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: rgba(233, 233, 233, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(99, 99, 99, 0.112);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.short-story-card:hover {
  border: 1px solid black;
  transform: scale(1.02);
}

.short-story-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}