@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary: #6B7280; /* Muted blue-grey */
  --secondary: #7692bc; /* Darker blue-grey */
  --accent: #9CA3AF; /* Light blue-grey */
  --neutral: #3D4451;
  --base-100: #f5f5f5;
  --text-color: #03495179;
  --info: #60A5FA; /* Soft blue */
  --success: #34D399; /* Muted green */
  --warning: #FBBF24; /* Soft yellow */
  --error: #F87171; /* Soft red */

  --primary: #5b3f8e;
  --secondary: #84ceeb;
  --accent: #5ab9ea;
  --neutral: #c1c8e4;
  --base-100: #8860d0;
  --base-100-light: #7e4e9d;
  --base-100-darker: #795fa8;
  --base-100-very-light: #dfbdf7;
  --text-color: #03495179;
  --info: #60A5FA; /* Soft blue */
  --success: #34D399; /* Muted green */
  --warning: #FBBF24; /* Soft yellow */
  --error: #F87171; /* Soft red */
}

body {
  font-family: Inter, "Segoe UI", "Helvetica Neue", sans-serif;
  font-family: 'Barlow', sans-serif;
  color: #034951;
  color: #4e6381;
  color: var(--base-100-light);
  background-color: #bf6262 !important;
  background-color: var(--base-100-very-light) !important;
  font-weight: 400;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-gentium {
  font-family: 'Gentium Book Plus', serif;
}
/* Custom styles */
/* .shadow-comic {
  box-shadow: 5px 5px 0px #000;
}

.shadow-comic-hover {
  box-shadow: 5px 5px 0px #ff5252;
} */

.nav-menu-main-button {
  font-family: serif;
}

.nav-menu-button, .nav-menu-main-button {
  background-color: #e9d4f8;
  position: relative;
  transition: color 0.3s ease, transform 0.4s ease, background-color 0.4s ease; 
  margin: 0 3px;
  padding: 7px 13px;
  }

.nav-menu-button:hover, .nav-menu-main-button:hover {
  background-color: rgb(240, 226, 255);
  color: var(--base-100-darker);
  transform: scale(1.04);
}

@media (max-width: 1024px) {

  .nav-menu-button, .nav-menu-main-button {
    background-color: transparent;
  }
  .nav-menu-button:hover, .nav-menu-main-button:hover {
    background-color: transparent;
    transform: scale(1.01);
  }
}


.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.9px;
  font-family: serif;
  background-color: var(--base-100-light);
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 1px 1px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  margin-left: 0px !important;
}

.comic-button:hover {
  background-color: #fff;
  color: var(--base-100-light);
  border: 2px solid var(--base-100-light);
  box-shadow: 5px 5px 0px var(--base-100-light);
}

.comic-button:active {
  background-color: var(--base-100-light);
  box-shadow: none;
  transform: translateY(4px);
}

.short-story-card {
  box-sizing: border-box;
  width: auto;
  height: auto;
  background: rgba(233, 233, 233, 0.58);
  border: 1px solid white;
  box-shadow: 12px 17px 51px rgba(99, 99, 99, 0.112);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
}

.short-story-card:hover {
  border: 1px solid black;
  transform: scale(1.02);
}

.short-story-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.text{
  color : #954eeb;
  position: relative;
  top: 40vh;
  text-align: center;
  font-family: 'Roboto Slab', arial;
}
.wave {
    overflow-x : hidden;
    border-radius: 45%;
    bottom: 0;
    height: 350vw;
    left: 50%;
    margin-left: -175vw;
    position: absolute;
    top: 90vh;
    width: 350vw
}
.wave-front {
    animation: drift 13s infinite cubic-bezier(.4,0,.2,1);
    background-color: #d2b6ff;
    opacity: 1
}
 .wave-middle {
    animation: drift 15s infinite cubic-bezier(.4,0,.2,1);
    background-color: #d2b6ff;
    opacity: 1
}
.wave-back {
    animation: drift 20s infinite cubic-bezier(.075,.82,.165,1);
    background-color: #954eeb;
    border-radius: 43%;
    opacity: .8;
    -ms-transform-origin: 51% 50%;
    transform-origin: 51% 50%
}

@keyframes drift {
    from {
        transform: rotate(0)
    }

    from {
        transform: rotate(360deg)
    }
}

@keyframes sway {
  0%, 100% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
}

.wisteria-container {
  animation: sway 8s ease-in-out infinite;
}

.home-page-text-container {
  color: rgb(252, 252, 252);
  color: black;
  position: relative;
/*     font-family: sans-serif;
*/    height: fit-content;
width: fit-content;
}

.home-page-text-container::before,
.home-page-text-container::after {
  content: "";
  background-color: #fab5704c;
  background-color:  #746ee851;

  position: absolute;
}

.home-page-text-container::before {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  top: 30%;
  right: 7%;
  
}

.home-page-text-container::after {
  content: "";
  position: absolute;
  height: 70%;
  top: 8%;
  right: 2%;
  border: 1px solid;
  
}

.home-page-text-container .home-page-box {
  width: fit-content;
  height: 106%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 2.7rem;
  transition: all ease 0.3s;
  overflow: visible;
}

.home-page-text-container .home-page-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.home-page-text-container .home-page-box .title {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-right: 4.0rem;
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}

.home-page-text-container .home-page-box div strong {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.home-page-text-container .home-page-box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
  width: 93%;
}

.home-page-text-container .home-page-box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.home-page-text-container .home-page-box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 5.0rem;
}

.home-page-text-container .home-page-box:hover {
  box-shadow: 0px 0px 20px 1px #8902b23f;
  box-shadow: 0px 0px 20px 1px #bb89d651;
  border: 1px solid rgba(255, 255, 255, 0.454);
  z-index: 0 !important;
  overflow: visible;
}

@media (max-width: 768px) {
  .right-image-styles {
    margin-top: 120px;
  }
}

.footer-card {
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 12px;
  background-color: #dfbdf768;
}

.footer-card:hover {
    transform: scale(1.01);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  background-color: #eacefe;
}

/* .footer-card:hover h3 {
  color: #a78bfa; 
}

.footer-card:hover a {
  color: #ddd6fe;
} */

